@page
@model IndexModel
@{
    ViewData["Title"] = "The Home for Pizza Lovers";
    TimeSpan timeinBusiness = DateTime.Now - new DateTime(2018,8,14);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Pizza</h1>
    <p class="lead">The Best pizza in town for @Convert.ToInt32(timeinBusiness.TotalDays) days!</p>
</div>
